[Unit]
Description=Check for a new OS release, and display a notification if found
Wants=nux-upgrade-notify.timer

[Service]
ExecStartPre=/usr/bin/sleep 60
ExecStart=/usr/bin/nux-upgrade release check

[Install]
WantedBy=default.target