[Unit]
Description=Checks for new OS releases every day
Requires=nux-upgrade-notify.service

[Timer]
Unit=nux-upgrade-notify.service
OnUnitInactiveSec=1440m
AccuracySec=1s

[Install]
WantedBy=timers.target